<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="io.dcloud.uni_modules.together_local_reminder">
  <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
  <uses-permission android:name="android.permission.VIBRATE" />
  <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
  <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" android:maxSdkVersion="32" />
  <uses-permission android:name="android.permission.USE_EXACT_ALARM" />

  <application>
    <receiver
      android:name="uts.sdk.modules.togetherLocalReminder.ReminderAlarmReceiver"
      android:enabled="true"
      android:exported="false" />
    <receiver
      android:name="uts.sdk.modules.togetherLocalReminder.ReminderBootReceiver"
      android:enabled="true"
      android:exported="true">
      <intent-filter>
        <action android:name="android.intent.action.BOOT_COMPLETED" />
        <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
      </intent-filter>
    </receiver>
  </application>
</manifest>
